<div class="password-generator-container">
  <div class="password-generator-card">
    <div class="password-generator-title">
      Password Generator
    </div>
    <div class="password-display-wrapper">
        <input type="text" placeholder="P4$5W0rD!" class="password-display" [(ngModel)]="generatedPassword" (input)="updateStrength(generatedPassword())">
        @if(isCopied()) {
          <span class="copy-feedback">
          COPIED
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#A4FFAF">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
          </svg>
        </span>
        } @else {
          <button (click)="copyToClipboard()" class="copy-button">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#A4FFAF">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
            </svg>
          </button>
        }
      </div>
    
    <div class="result-container">
      <div class="character-lenght">
        <div class="title">
          Character Length
        </div>
        <div class="ammount">
          {{mySliderValue()}}
        </div>
      </div>
      <app-slider [min]="1" [max]="20" [step]="1" [(value)]="mySliderValue"></app-slider>
      <div class="check-container">
        <ul class="criteria-list">
          <li class="criterion">
            <input type="checkbox" id="crit-uppercase" class="criterion__checkbox-input" [(ngModel)]="includeUppercase">
            <label for="crit-uppercase" class="criterion__label">
              <span class="criterion__checkbox-visual"></span>
              <span class="criterion__text">Include Uppercase Letters</span>
            </label>
          </li>
          <li class="criterion">
            <input type="checkbox" id="crit-lowercase" class="criterion__checkbox-input" [(ngModel)]="includeLowercase">
            <label for="crit-lowercase" class="criterion__label">
              <span class="criterion__checkbox-visual"></span>
              <span class="criterion__text">Include Lowercase Letters</span>
            </label>
          </li>
          <li class="criterion">
            <input type="checkbox" id="crit-numbers" class="criterion__checkbox-input" [(ngModel)]="includeNumbers">
            <label for="crit-numbers" class="criterion__label">
              <span class="criterion__checkbox-visual"></span>
              <span class="criterion__text">Include Numbers</span>
            </label>
          </li>
          <li class="criterion">
            <input type="checkbox" id="crit-symbols" class="criterion__checkbox-input" [(ngModel)]="includeSymbols">
            <label for="crit-symbols" class="criterion__label">
              <span class="criterion__checkbox-visual"></span>
              <span class="criterion__text">Include Symbols</span>
            </label>
          </li>
        </ul>

        <div class="strength-indicator">
          <span class="strength-indicator__title">STRENGTH</span>
          <span class="strength-indicator__level-text">{{passwordStrengthText()}}</span>
          <div class="strength-indicator__bar-container">
            @for (bar of [1,2,3,4]; track bar) {
              <span class="strength-indicator__bar-segment" [class.is-filled]="bar <= strengthLevel()"
              [style.background-color]="bar <= strengthLevel() ? strengthBarColor() : 'var(--color-bar-unfilled)'"
              [style.border-color]="bar <= strengthLevel() ? strengthBarColor() : 'var(--color-bar-unfilled)'"
              ></span>
            }
          </div>
        </div>
        <div class="button-">
          <button class="generate-button-no-material" (click)="generatePassword()">
            GENERATE <span class="arrow">&rarr;</span>
          </button>
      </div>
      </div>
      
    </div>
  </div>

</div>