.password-generator-container {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
  }

    .password-generator-card {
      padding: 20px;
  
      .result-container {
        background: #24232C;
        margin-top: 24px;
        .character-lenght {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 34px;
          padding-right: 34px;
          padding-top:27px;
          padding-bottom: 16px;
          .title {
            font-family: 'YourCustomFontName1';
            color: #E6E5EA;
            font-size: 18px;
          }
          .ammount {
            font-family: 'YourCustomFontName1';
            color: #A4FFAF;
            font-size:32px;
            font-weight: bold;
          }
        }
      }
    }

  .password-generator-title {
        font-family: 'YourCustomFontName', sans-serif;
        font-size: 24px;
        color: #817D92;
        text-align: center;
        margin-bottom: 42px;
    }

  .password-display {
        background-color: #24232C;
        color: #54535B;
        font-family: 'YourCustomFontName1', sans-serif;
        font-size: 32px;
        border: none;
        padding: 25px 35px;
        margin: 0;
        box-sizing: border-box;
        outline: none;
        width: 540px;
        background-image: url('../assets/images/icon-copy.svg');
        background-repeat: no-repeat;
        background-position: right 35px center;
        background-size: 20px;
        padding-right: 40px;
        cursor: pointer;
      }

  .password-display:focus {
        color: #eee;
  }