/* Importing Bootstrap SCSS file. */

/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'YourCustomFontName'; /* Choose a unique name for your font */
    src: url(../src/assets/fonts/JetBrainsMono-VariableFont_wght.ttf) format('truetype');
    font-weight: normal; /* Define the default font weight */
    font-style: normal;  /* Define the default font style */
    font-display: swap; /* Recommended for performance */
}
@font-face {
    font-family: 'YourCustomFontName1'; /* Choose a unique name for your font */
    src: url(../src/assets/fonts/static/JetBrainsMono-Bold.ttf) format('truetype');
    font-weight: normal; /* Define the default font weight */
    font-style: normal;  /* Define the default font style */
    font-display: swap; /* Recommended for performance */
}

  body {
    background: #1E1E1E;
  }

